.header {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(171, 171, 246);
    height: 30px;
    padding: 10px 2px;
    font-weight: 700;
    font-size: x-large;
}
