.form{
    margin: 10px auto;
    height: 200px;
    width: 400px;
    border: 1px solid black;
    box-shadow: 0 2px 8px rgb(124, 123, 123);
}

.form li{
    margin-top: 30px;
    list-style-type: none;
}

.form input{
    width: 200px;
    margin-left: 10px;
    border: none;
    border-bottom: 1px solid;
}