*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tasks{
    margin: 0px 15px
}

.task{
    height: auto;
    padding-left: 5px;
    margin: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 20px;
    margin: 20px 0px;
    background: white;
}

.TaskName{
    width: 80%;
    display: inline-block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em
}

.text{
    margin-left: 10px;
}

.cbf{
    width: 20px;
    height: 20px;
}


.tasks input[type="checkbox"]:checked+span {
    color: rgb(173, 173, 173);
}

.icons{
    display: inline-block;
    width: 20%;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em
}

.modal{
    height: 160px;
    width: 70%;
    background-color: rgb(171, 171, 246);
    z-index: 2;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 15%;
}

.modal input{
    width: 50%;
    display: block;
    margin: 17px auto;
}

.modal button{
    margin-left: 10px;
    height: 30px;
    background-color: white;
    border-radius: 10px;
}
