*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tasks{
    margin: 0px 15px
}

.tasks h2{
    height: 38px;
    padding-top: 7px;
    padding-left: 5px;
    margin: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 20px;
    margin: 20px 0px;
    background: white;
}

.text{
    margin-left: 10px;
}

.cbf{
    width: 20px;
    height: 20px;
}


.tasks input[type="checkbox"]:checked+span {
    color: rgb(173, 173, 173);
}

